﻿body {
    padding-top: 51px;
    background-color: #f2f4f5;
}

.validationMessage {
    color: red;
}

select.has-error + span .selection .select2-selection {
    border-color: #a94442;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
}

select.has-error + span.select2-container--open {
    border-color: #843534;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 6px #ce8483;
}

@media (min-width: 992px) and (max-width: 1199px) {

    .move-table-text-on-md {
        margin-left: 15px !important;
    }

    .move-table-pagination-on-md {
        margin-right: 15px !important;
    }
}

@media (min-width: 1200px) {

    .move-table-text-on-lg {
        margin-left: 15px !important;
    }

    .move-table-pagination-on-lg {
        margin-right: 15px !important;
    }
}
